In [1]:
#task 1
#Remove duplicates
a=[2,3,4,2,3,4,8,9,12,"apple",'Apple']

In [2]:
b=set(a)

In [3]:
b

{12, 2, 3, 4, 8, 9, 'Apple', 'apple'}

In [4]:

#task 2
#slice 'apple' from the give variable
B='i need an apple'

In [5]:
B[10:15]

'apple'

In [6]:


#Task 3
#create a function for add both number when both number are even and multiple both number are not even
a=11
b=10
if a ==10 and b==10:
    c=a+b
    print(c)
else:
    c=a*b
    print(c)

110

In [7]:
#task 5
#multiplication table (8th table) using for loop
table=8

In [8]:
for i in range(1,11):
    print(i,'x',table,'=',i*table)

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80